
body{
  background-image: url('https://images2.alphacoders.com/204/thumb-1920-204832.jpg');
  background-repeat: no-repeat;
}

p{
  font-size: 1em;
  font-family: 'Concielian Break', sans-serif;
}
